.aboutPageContainer {
  color: rgba(0, 0, 0, 0.747);
  max-width: 100%;
  height: fit-content;
  background: hsla(210, 90%, 80%, 1);
}

.about-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-content {
  background-color: rgba(255, 255, 255, 0.432);
  width: 94%;
  height: 100vh;
  margin: 36px 20px;
}
