.contactPageContainer {
  background-color: #9c6644;
  color: white;
  max-width: 100%;
  height: fit-content;
}

.contact-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-content {
  background-color: #ddb892;
  width: 94%;
  height: 100vh;
  margin: 36px 20px;
}
