.projectPageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-content {
  background-color: rgba(255, 255, 255, 0.432);
  width: 94%;
  height: 100vh;
  margin: 36px 20px;
}
